/* Form submission status */
#contact_result {
  width: 352px;
}

#contact_result.success {
  margin-left: 200px;
  margin-bottom: 8px;
  padding: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#contact_result.error {
  margin-left: 200px;
  margin-bottom: 8px;
  padding: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#contact_form .feature-title {
  padding: 0;
}

/* Widget sizes */
#contact_form input {
  margin-bottom: 8px;
  width: 346px; /* 368px - 16px (padding) - 6px (border)  */
}

#contact_form textarea {
  width: 346px; /* 368px - 16px (padding) - 6px (border)  */
  height: 192px;
  margin-bottom: 8px;
}

/* Widget labels */
#contact_form label {
  display:list-item;
  list-style:none;
  margin-top: 13px;
  margin-bottom: 8px;
}

#contact_form input.last {
  margin-bottom: 0;
  width: 352px;
}

/* Required fields not completed */
#contact_form label.error {
  display:inline;
  color:red;
  vertical-align: top;
  margin-bottom: 8px;
}

/* Required field marker */
#contact_form .mandatory {
  color:red;
  font-weight: bold;
  font-size:larger;
}

