/* Sticky footer */
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#content-main {
  overflow:auto;
  padding-bottom: 43px; /* footer height -- old value 38px */
}

#footer {
  position: relative;
  margin-top: -161px;    /* negative value of footer height -- old value -38px */
  height: 43px;         /* footer height -- old value 38px */
  clear: both;
} 

/* Opera Fix for sticky footer */
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}

/* Layout grid */
#wrapper .grid_1 {
  width: 176px;
}

#wrapper .grid_2 {
  width: 368px;
}

#wrapper .grid_3 {
  width: 560px;
}

#wrapper .grid_4 {
  width: 752px;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4 {
  display: inline;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
}

#content-top {
  background: #FFFFFF;
  margin: 0 0 30px;
}

#content-top-first-column {
  margin: 10px 0 10px 10px;
  float:left;
  width:500px;
}

#content-top-second-column {
  padding-top: 60px;
  margin-left:500px;
  width: 470px;
  font-size: large;
}

#content-top-second-column p {
  text-align:justify;
}

#content-first-column {
  float:left;
  width:485px;
  padding-right:15px;
}

#content-second-column {
  float:right;
  width: 485px;
  padding-left:15px;
}

#content-no-column {
  margin: 10px;
}

