table.pricing {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table.pricing col.open {
    background: #60C39C;
}

table.pricing col.pro, th.pro, td.pro {
    background: #F7DC22;
    color: #444;
}

table.pricing col.enterprise, th.enterprise, td.enterprise {
    background: #6E9FD4;
    color: #444;
}

table.pricing th {
    font-weight: normal;
    text-align: left;
}

table.pricing thead th {
    border-bottom: 2px solid #444;
    text-align: center;
}

table.pricing th, table.pricing td {
    border: 0;
    border-bottom: 1px solid #CCC;
    padding: 8px 0;
    text-align: center;
}

table.pricing th {
    text-align: center;
}

table.pricing th, table.pricing td {
    border: 1px solid #666;
    padding: .5em;
}

table.pricing span.offer-name {
    font-weight: bold;
    margin: 4px 0 6px 0;
}

table.pricing tr.section th {
    border-bottom: 1px solid #444;
    text-align: left;
    padding: 15px;
    background: white;
    color: black;
    opacity: 0.8;
    font-weight:bold;
}

table.pricing th em {
  margin-top: 2px;
  font-size:small;
}

a.more {
  padding: 2px 10px;
  background: #F96C00;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: white;
  display: inline-block;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#FB9649), to(#F96C00));
  background: -moz-linear-gradient(top, #FB9649, #F96C00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB9649', endColorstr='#F96C00');
}
