.slogan {
  color:#b3937d;
  font-weight: bold;
  font-size:larger;
}

.feature-title {
  color:#b3937d;
  border-bottom: #b3937d 1px solid;
  font-family: Palatino, serif;
  font-style: italic;
  font-size: larger;
}

.feature {
  font-size: large;
  margin-bottom: 30px;
}

.feature a {
  text-decoration: none;
}

.feature ul {
  padding-left: 0;
}

.feature li {
  list-style: none;
  background-image: url("../images/bullet.png");
  background-repeat: no-repeat;
  background-position: left -2px;
  padding-left: 40px;
  padding-bottom: 7px;
  padding-top: 3px;
}

.disclosures .feature-title {
  margin-top: 10px;
  margin-bottom:10px;
  cursor: pointer;
}

.section {
  margin-bottom: 20px
} 

